@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgba(209, 199, 255, 1);
  --bnt-color: rgb(184, 254, 238);
}

body {
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.container {
  max-width: 1200px;
  display: flex;
  place-items: center;
  flex-direction: column;
  margin: 2rem;
}

.header__description {
  font-size: 1.5rem;
}

.quest__wrapper {
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  justify-items: center;

  &>* {
    scroll-snap-align: center;
  }
}

.quest__card {
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 2rem;
  width: calc(100% / 1.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2rem;

  &>span {
    text-align: center;
    padding: 0.3rem;
    font-size: 1.2rem;
  }
}

.quest__card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button,
input {
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  background-color: var(--bnt-color);
}

input {
  outline: none;
}

button:active {
  background-color: white;
}

.victory {
  &.container {
    margin: 2rem;
  }

  &img {
    object-fit: contain;
  }
}

.victory__text {
  margin: 2rem;
  text-align: justify;
  font-size: large;
}

.display-none {
  display: none;
}

@media (max-width: 600px) {
  .header img {
    height: 25px;
  }

  .header__description {
    font-size: 1rem;
    text-align: center;
  }

  .quest__card {
    width: calc(75% / 2);
  }

  .victory__text {
    font-size: medium;
  }
}